*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    padding-top: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.mountain{
  background: #393462;
  width: 100%;
  height: 100vh;
}

.mountain__circle{
    border-radius: 50%;
    background: #fff1cf;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;   
    margin: auto;
}

.mountain__item{
    background: #fe5f55;
    width: 200px;
    height: 200px;
    transform: rotate(40deg);
    position: absolute;
  
    
}

.mountain__item:first-child{
   left: 100px;
   top: 120px;
}


.mountain__item:last-child{
   top: 240px;
    left: -40px;
    background: #fe5f55;
}